# Node.js modules
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Output directories
dist/
build/
coverage/

# We don't want to track the .txt files in Git
data/
decks/

# Optional: Ignore any other temporary or build files
.idea/
.vscode/
